@import url('./blocks/page-header.css');
@import url('./blocks/root.css');
@import url('./blocks/main-view.css');
@import url('./blocks/footer-buttons.css');
@import url('./blocks/point-markers.css');
@import url('./blocks/featured-products.css');
@import url('./blocks/process-explanation.css');

html{
    scroll-behavior: smooth;
}

body{
    color: white;
}

.color-1{
    background-color: rgb(7, 7, 22);
}

.color-2{
    background-color: rgb(43, 43, 61);
}

.talk-to-us{
    height: 95vh;
    display: block;
    text-align: center;
}

.talk-to-us-header{
    font-size: 8vh;
    width: 40%;
    margin: 8vh auto;
    font-weight: bold;
    text-transform: uppercase;
}

.artist-image-wrapper{
    display: inline-block;
    width: 30%;
    margin: 0 auto;
}

.artist-image{
    height: 53vh;
    width: 100%;
}

.artist-name{
    font-size: 4vh;
    position: relative;
    bottom: 10vh;
    margin: 0 10%;
    text-align: left;
}

.artist-experience{
    font-size: 2vh;
    position: relative;
    bottom: 9vh;
    margin: 0 10%;
    text-align: left;
}

.talk-to-us-footer{
    height: 18vh;
    margin: 0 0;
}

.font-bold{
    font-weight: bold;
}

.font-uppercase{
    text-transform: uppercase;
}

/* .
text-transform: uppercase;
font-weight: bold;
. */


.font-italic{
    font-style: italic;
}