.page-header{
    display: inline-flex;
    width: 100%;
    height: 10vh;
    font-family: Tahoma;
    font-size: 36px;
    background-color: rgb(61, 61, 117);
    color: white
}

.page-header-component{
    width: 25%
}

.page-name{
    text-align: left;
}

.navbar{
    width: 48%;
    font-size: 16px;
    text-align: center;
    justify-content: space-evenly;
}

.navbar-button{
    color: white;
    scroll-behavior: smooth;
}

.page-header-special{
    display: inline-flex;
    font-size: 16px;
    text-align: right;
}

.my-contact-information{
    color: white;
}

.main-view{
    display: inline-flex;
    width: 100vw;
    height: 85vh;
}

.main-view-left-section{
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 100px; */
}

.main-view-left-section-top-components{
    font-size: 20px;
    width: 200px;
    margin-top: 10%;
}

.main-view-left-section-bottom-components{
    height: 15%;
    display: flex;
    align-items: left;
    margin-bottom: 10%;
}

.small-image{
    width: auto;
    height: 100%;
}

.main-view-left-section-text{
    font: bold;
    font-size: 40px;
    width: 20%;
}

.main-view-right-section{
    width: 69%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-view-right-section-header{
    font-size: 80px;
    overflow: visible;
    width: 25%;
}

.main-view-right-section-big-image{
    height: 80%;
    width: auto;
}

.main-view-right-section-small-image{
    height: 20%;
    width: auto;
}

.main-view-right-section-fieldset{
    height: 25%;
    width: 8%;
    display: grid;
    /* grid-template-rows: 75% 25%; */
    /* gap: 0; */
    text-align: center;
}

.main-view-caller-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 0;
}

.main-view-caller-title{
    margin-top: 8px;
    margin-bottom: 0;
}

.main-view-caller-text{
    margin: 0 0 ;
}

.main-view-caller-footer{
    align-self: end;
    margin: 4px 0;
}

.section-headers{
    font-weight: bold;
    text-transform: uppercase;
}

.font-bold{
    font-weight: bold;
}

.font-uppercase{
    text-transform: uppercase;
}

.font-italic{
    font-style: italic;
}