html{
    scroll-behavior: smooth;
}

body{
    color: white;
}

.color-1{
    background-color: rgb(7, 7, 22);
}

.color-2{
    background-color: rgb(43, 43, 61);
}

.page-header{
    display: flex;
    width: 100%;
    height: 10vh;
    font-family: Tahoma;
    font-size: 5vh;
    align-items: center;
    justify-content: space-between;
    color: white
}

.page-header-component{
    width: 25%
}

.page-name{
    text-align: left;
    padding-left: 4vh;
}

.navbar-wrapper{
    text-align: center;
    align-items: center;
}

.navbar{
    width: 48%;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2.6vh;
}

.navbar-button{
    padding: 2vh 2%;
    color: white;
}

.navbar-button:hover{
    background-color: #ddd;
    color: black;
}

.page-header-special{
    text-align: right;
    font-size: 2.6vh;
}

.page-header-component-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.6vh;

}

.page-header-special-vertical-line{
    border-left: 2px solid green;
    height: 4vh
}

.page-header-language-selector{
    font-size: 2.6vh;
    padding: 0 0;
    margin: 2vh 2%;
}

.my-contact-information{
    width: 14vh;
    display: inline-block;
    text-align: right;
    padding: 2vh 2%;
}

.main-view{
    display: inline-flex;
    width: 100vw;
    height: 85vh;
}

.main-view-left-section{
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 100px; */
}

.main-view-left-section-top-components{
    font-size: 3vh;
    width: 200px;
    margin-top: 10%;
}

.main-view-left-section-bottom-components{
    height: 15%;
    display: flex;
    align-items: left;
    margin-bottom: 10%;
}

.small-image{
    width: auto;
    height: 100%;
}

.main-view-left-section-text{
    font: bold;
    font-size: 3vh;
    width: 15%;
}

.main-view-right-section{
    width: 69%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-view-right-section-header-wrapper{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-self: flex-start;
}

.main-view-right-section-header{
    font-size: 12vh;
    overflow: visible;
    z-index: 2;
}

.main-view-right-section-big-image{
    height: 80%;
    width: auto;
    z-index: 1;
}

.main-view-right-section-small-image{
    height: 20%;
    width: auto;
    align-self: flex-start;
    margin-top: 10vh;
}

.main-view-right-section-fieldset{
    height: 25%;
    width: 8%;
    display: grid;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 13vh;
}

.main-view-caller-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 0;
}

.main-view-caller-title{
    margin-top: 8px;
    margin-bottom: 0;
}

.main-view-caller-text{
    margin: 0 0 ;
}

.main-view-caller-footer{
    align-self: end;
    margin: 4px 0;
}

.point-markers{
    height: 50vh;
    display: flex;

}

.point-markers-section{
    width: 51%;
    font-size: 3vh;
}

.point-markers-left-section{
    text-align: right;
    padding-right: 10%;
    margin-bottom: 10px;
}

.point-markers-header{
    font-size: 10vh;
    width: 75%;
    text-align: left;
    margin-top: 10px;
}

.point-markers-right-section{
    display: flex;
    flex-wrap: wrap;
}

.bullet-point-wraper{
    width: 49%;
    height: 49%;
}

.bullet-point{
    width: 24%;
}

.featured-products{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 145vh;
}
  
.featured-products-header{
    font-size: 9vh;
    width: 60%;
    align-self: center;
}

.featured-products-all-figures-wrapper{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
}

.featured-products-figure-wrapper{
    width: 33%;
    text-align: left;
}

.product-window{
    font-size: 4vh;
}

.featured-products-figure{
    width: 60%;
    height: auto;
    max-height: 25vh;
}

.product-window-caption-explanation{
    font-size: 2.5vh;
    padding-left: 45%;
}

.featured-products-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.process-explanation{
    display: flex;
    height: 80vh;
}

.process-explanation-half{
    width: 51%;
    height: 100%;
}

.process-explanation-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 3vh;
}

.process-explanation-header{
    font-size: 8vh;
    margin: 0;
}

.process-steps{
    margin-top: 4vh;
    font-size: 4vh;
    margin-left: 8vh;
}

.process-steps-comments{
    font-size: 2vh;
    width: 25%;
    min-width: 150px;
    margin-top: 4px;
}

.talk-to-us{
    height: 95vh;
    display: block;
    text-align: center;
}

.talk-to-us-header{
    font-size: 8vh;
    width: 40%;
    margin: 8vh auto;
}

.artist-image-wrapper{
    display: inline-block;
    width: 30%;
    margin: 0 auto;
}

.artist-image{
    height: 53vh;
    width: 100%;
}

.artist-name{
    font-size: 4vh;
    position: relative;
    bottom: 10vh;
    margin: 0 10%;
    text-align: left;
}

.artist-experience{
    font-size: 2vh;
    position: relative;
    bottom: 9vh;
    margin: 0 10%;
    text-align: left;
}

.talk-to-us-footer{
    height: 18vh;
    margin: 0 0;
}

.section-footer-button{
    background-color: red;
    color: white;
    font-size: 4vh;
    max-height: 15vh;
    max-width: 28vh;
    border: none;
}

.section-headers{
    font-weight: bold;
    text-transform: uppercase;
}

.font-bold{
    font-weight: bold;
}

.font-uppercase{
    text-transform: uppercase;
}

.font-italic{
    font-style: italic;
}