.page-header{
    display: inline-flex;
    width: 100%;
    height: 10vh;
    font-family: Tahoma;
    font-size: 5vh;
    background-color: rgb(61, 61, 117);
    color: white
}

.page-header-component{
    width: 25%
}

.page-name{
    text-align: left;
}

.section-headers{
    font-weight: bold;
    text-transform: uppercase;
}

.navbar{
    width: 48%;
    font-size: 2.6vh;
    text-align: center;
    justify-content: space-evenly;
}

.navbar-button{
    color: white;
    scroll-behavior: smooth;
}

.page-header-special{
    display: inline-flex;
    font-size: 2.6vh;
    text-align: right;
}

.my-contact-information{
    color: white;
}

.main-view{
    display: inline-flex;
    width: 100vw;
    height: 85vh;
}

.main-view-left-section{
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 100px; */
}

.main-view-left-section-top-components{
    font-size: 3vh;
    width: 200px;
    margin-top: 10%;
}

.main-view-left-section-bottom-components{
    height: 15%;
    display: flex;
    align-items: left;
    margin-bottom: 10%;
}

.small-image{
    width: auto;
    height: 100%;
}

.main-view-left-section-text{
    font: bold;
    font-size: 3vh;
    width: 15%;
}

.main-view-right-section{
    width: 69%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-view-right-section-header-wrapper{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.main-view-right-section-header{
    font-size: 12vh;
    overflow: visible;
}

.main-view-right-section-big-image{
    height: 80%;
    width: auto;
}

.main-view-right-section-small-image{
    height: 20%;
    width: auto;
}

.main-view-right-section-fieldset{
    height: 25%;
    width: 8%;
    display: grid;
    /* grid-template-rows: 75% 25%; */
    /* gap: 0; */
    text-align: center;
}

.main-view-caller-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 0;
}

.main-view-caller-title{
    margin-top: 8px;
    margin-bottom: 0;
}

.main-view-caller-text{
    margin: 0 0 ;
}

.main-view-caller-footer{
    align-self: end;
    margin: 4px 0;
}

.point-markers{
    height: 50vh;
    display: flex;
}

.point-markers-section{
    width: 49%;
    font-size: 3vh;
}

.point-markers-left-section{
    text-align: right;
    padding-right: 10%;
    margin-bottom: 10px;
}

.point-markers-header{
    font-size: 10vh;
    width: 75%;
    text-align: left;
    margin-top: 10px;
}

.point-markers-right-section{
    display: flex;
    flex-wrap: wrap;
}

.bullet-point-wraper{
    width: 49%;
    height: 49%;
}

.bullet-point{
    width: 24%;
}

.featured-products{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 145vh;
}
  
.featured-products-header{
    font-size: 9vh;
    width: 60%;
    align-self: center;
}

.featured-products-all-figures-wrapper{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
}

.featured-products-figure-wrapper{
    width: 33%;
    text-align: left;
}

.product-window{
    font-size: 4vh;
}

.featured-products-figure{
    width: 60%;
    height: auto;
    max-height: 25vh;
}

.product-window-caption-explanation{
    font-size: 2.5vh;
    padding-left: 45%;
}

.featured-products-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.section-footer-button{
    background-color: red;
    color: white;
    font-size: 4vh;
    max-height: 15vh;
    max-width: 28vh;
}

.font-bold{
    font-weight: bold;
}

.font-uppercase{
    text-transform: uppercase;
}

.font-italic{
    font-style: italic;
}