@media screen and (min-width: 769px){
    .featured-products{
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: rgb(7, 7, 22)
    }
      
    .featured-products__header{
        font-size: 58px;
        width: 60%;
        align-self: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        padding: 40px;
    }
    
    .featured-products__list{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4%;
        gap: 10px;
        justify-content: space-evenly;
    }
    
    .featured-products__list-item{
        width: 30%;
        text-align: left;
        background-color: rgb(7, 7, 22)
    }
    
    .featured-products__list-item_background-color_pattern-2{
        background-color: rgb(43, 43, 61)
    }
    
    .featured-products__image{
        aspect-ratio: 1/1;
        width: 75%;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .featured-products__figure-captions{
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        padding-left: 10px;
    }
    
    .featured-products__caption-explanation{
        font-size: 16px;
        padding-left: 40%;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
