.main-view__footer-button{
    background-color: red;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 70%;
    margin-top: 40px;
    border: none;
}

.featured-products__footer-button{
    background-color: red;
    color: white;
    font-size: 20px;
    height: 45px;
    width: 15%;
    border: none;
    align-self: center;
    margin: 60px;
}

.talk-to-us__footer-button{
    height: 40px;
    background-color: red;
    color: white;
    font-size: 20px;
    width: 15%;
    border: none;
    margin: 40px;
}