.main-view__footer-button{
    background-color: red;
    color: white;
    font-size: 4vh;
    max-height: 15vh;
    max-width: 28vh;
    border: none;
}

.featured-products__footer-button{
    height: 10vh;
    background-color: red;
    color: white;
    font-size: 4vh;
    max-height: 15vh;
    max-width: 28vh;
    border: none;
}