@media screen and (min-width: 769px){
    .page-header{
        display: flex;
        width: 100%;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(7, 7, 22)
    }
    
    .page-header__name{
        font-size: 34px;
        padding-left: 4%;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }
    
    .page-header__navbar{
        font-size: 16px;
    }
    
    .page-header__navbar-button{
        float: left;
        margin: 0 8px;
    }
    
    .page-header__navbar-link{
        padding: 5px 5px;
        text-decoration: none;
    }
    
    .page-header__navbar-link:visited{
        color: white;
    }
    
    .page-header__navbar-link:hover{
        background-color: #ddd;
        color: black
    }
    
    .page-header__specials-wrapper{
        display: flex;
        align-items: center;
        padding-right: 4%;
    }
    
    .page-header__vertical-line{
        border-left: 2px solid green;
        height: 25px;
        margin: 0 10px;
    }
    
    .page-header__language-selector{
        color: white;
        background-color: rgb(7, 7, 22);
        border: none;
    }
    
    .page-header__my-contact{
        display: inline-block;
        white-space: nowrap;
    }
    
    .page-header__my-contact-link{
        padding: 2px 2%;
        color: white;
        text-decoration: none;
    }
}

