.page-header{
    display: flex;
    width: 100%;
    height: 10vh;
    font-family: Tahoma;
    font-size: 5vh;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(7, 7, 22)
}

.page-header__name{
    text-align: left;
    padding-left: 4vh;
    text-transform: uppercase;
    font-weight: bold;
}

.page-header__navbar{
    width: 48%;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2.6vh;
}

.page-header__navbar-button{
    padding: 2vh 2%;
    color: white;
}

.page-header__navbar-button:hover{
    background-color: #ddd;
    color: black;
}

.page-header__specials-wrapper{
    text-align: right;
    font-size: 2.6vh;
}

.page-header__vertical-line{
    border-left: 2px solid green;
    height: 4vh
}

.page-header__language-selector{
    font-size: 2.6vh;
    padding: 0 0;
    margin: 2vh 2%;
    color: white;
}

.page-header__my-contact{
    width: 14vh;
    display: inline-block;
    text-align: right;
    padding: 2vh 2%;
    color: white;
}

.page-header__my-contact-link{
    width: 14vh;
    display: inline-block;
    text-align: right;
    padding: 2vh 2%;
    color: white;
}