.process-explanation{
    display: flex;
    color: white;
}

.process-explanation__left-wrapper{
    width: 49%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px 4%;
}

.process-explanation_background-color_pattern-2{
    background-color: rgb(43, 43, 61);
}

.process-explanation__header{
    font-size: 8vh;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.process-explanation__steps{
    margin-top: 4vh;
    font-size: 4vh;
    margin-left: 8vh;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.process-explanation__step-comments{
    font-size: 2vh;
    width: 25%;
    min-width: 150px;
    margin-top: 4px;
    color: white;
}

.process-explanation__image{
    width: 51%;
    height: 100%;
}